/** General Styles and Page Structure */
body {
    font-family:Arial, 'sans serif';
    padding:0;
    position:relative;
    margin: 0;
    background: #ffffff;
}

h1, h2, h3, h4, h5, h6, #qrunner-header, #qrunner-banner {
    font-family:Calibri, Arial, 'sans-serif';
}

h2 {
    font-size:1.4em;
}

/** Resets */
#qrunner, #qrunner-header, #qrunner-banner {
    margin: 0;
    padding: 0;
}

/** Headers */
#qrunner-header
{
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    color: #444;
    min-height: 44px;
    padding: 40px 50px 13px 50px;
    color: #3B73B9;
}

#qrunner-header a {
    text-decoration: none;
    color: #3B73B9;
    font-weight:bold;
    padding-right:22px;
    float:left;
    margin: 0px 20px 0px 0px;
}

#qrunner-header-title {
    font-size: 25px;
}

#qrunner-header a:hover, #qrunner-header a:focus {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo4RjRENzREMkRFMzBFMTExQkZCM0YxOUI1MEUyRUQ0OCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpERkFDNTFBMjMwREYxMUUxQTA3RjlDQkNDQzY3MkI4MCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpERkFDNTFBMTMwREYxMUUxQTA3RjlDQkNDQzY3MkI4MCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4RjRENzREMkRFMzBFMTExQkZCM0YxOUI1MEUyRUQ0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4RjRENzREMkRFMzBFMTExQkZCM0YxOUI1MEUyRUQ0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PjKftvwAAAFqSURBVHja5NTNKwVRHMbxey9X3rrXStlY2ljJRiQLGytLIkUpIks7lIUFC9laCX+DhUiSlMRdsFBSdkqSt4u8ju+vnqkxZriZheTUp1NzzvxmzjnPTNxxnFiUlohFbL9fIL9xeOUf7EEiSgEbf8XUTwv04A59mIuyB2VowyqKvytQjkU8YwaFul6CJmQ+5MB38zSGUIAs8vCi3loc6bA3mECvJl2o0Jhn/B47qAorMIgU9lGJBc/YDZbQgNugAt1I4gGtepq1ZTxiHu2B34L6LpRiD6ee8UPUqfe2lPbl0i1Qoz4T8JCgm89hf6IKdwnX6tM5ZGIEb1py1i2wporNORToUDa2LStugVntdPKr3GvMUnmFUe8p2No3FNOBkCIWsn7NOcC6Pwd2EicoUiZsnVvYxZNutpM601F/CpIFpNazH5bIel1LqOAmqrWEwG/BirQorp3KgL3yMSZxFBYkf7OJ43/jp/ouwAB8JktCUeXXIAAAAABJRU5ErkJggg==') center right no-repeat;
}

/** Banner */
#qrunner-banner {
    height: 16px;
    padding:5px 5px 0px 25px;
}

/** Test Result Style @ Table **/
#qrunner-tests-tables{
    margin-left: 20px;
    border-collapse: separate;
    border-radius: 2px;
    border-spacing: 6px;
    border-color: gray;
    font-size: 12px;
    font-weight:normal;
    margin: 0px 10px;
}

#qrunner-tests-tables tr td.td-result {
    width: 35px;
    font-size:10px;
}

#qrunner-tests-tables tr td.td-result.td-ing {
    width: 35px;
    border-radius: 2px;
    color: #FFF;
    text-align: center;
}

#qrunner-tests-tables tr td.td-title a{
    min-width: 100px;
    color: #3B73B9;
    font-weight:bold;
    text-decoration: none;      /* remove link underline */
}

#qrunner-tests-tables tr td.td-title:hover,
#qrunner-tests-tables tr td.td-title:focus {
    background-color: #D9F1FA;
}

#qrunner-tests-tables tr td.td-divider {
    width: 2px;
}

#qrunner-tests-tables tr td.td-title.td-module {
    font-size: 12px;
    font-weight: bold;
    color: #039;
    border-bottom: 2px solid #6678b1;
}


/** Button **/
.btn-start,
.btn-start:focus
{
    display:inline-block;
    margin:0px 0px 0px 0px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-family: Calibri, Arial, 'sans-serif';
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.btn-start:hover {
    color:#6BC9ED;
}

/** Check Box **/
input {
}

input + label {
    display:inline-block;
    margin:0px 0px 0px -23px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input:checked + label {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color:#e0e0e0;
    color: #333;
}

input:focus + label{
    color:#6BC9ED;
}

input:hover + label {
    color:#6BC9ED;
}

#hdev-qunit-test {
    margin-left: 20px;
	float: left;
}

/** Log **/
#htext-test-error {
    position:absolute;
    top:500px;
    left: 790px;
    width: 450px;
    height: 180px;
}

#video, .output_container {
    position: absolute;
    top: 170px;
    left: 790px;
    width: 450px;
    height: 250px;
    border:1px solid #999999;
}

.checked
{
    display:inline-block;
    margin:0px 0px 0px 0px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-family: Calibri, Arial, 'sans-serif';
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}
